<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" class="ion-margin-end">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-button (click)="''">
        Click me
      </ion-button> -->
    </ion-buttons>

    <ion-title>{{userLogged}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="colorM">
  <swiper-container
    class="slider"
    pagination="true"
    loop="true"
    slides-per-view="1"
    navigation="true"
    [ngClass]="colorM"
  >
    @for (cantante of cantantes; track $index) {
    <swiper-slide>
      <div class="slide-content">
        <img [src]="cantante.image" [alt]="cantante.name" />
        <div class="info">
          <h2>{{cantante.name}}</h2>
          <p>{{cantante.desc}}</p>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
  <!-- <ion-button (click)="removeStorage()">remove</ion-button> -->
  <div class="grid-content">
    <ion-card [color]="cardM" class="grid-item-1 grid-items">1</ion-card>
    <ion-card [color]="cardM" class="grid-item-2 grid-items">2</ion-card>
    <ion-card [color]="cardM" class="grid-item-3 grid-items">3</ion-card>
    <ion-card [color]="cardM" class="grid-item-4 grid-items">4</ion-card>
    <ion-card [color]="cardM" class="grid-item-5 grid-items">5</ion-card>
    <ion-card [color]="cardM" class="grid-item-6 grid-items">6</ion-card>
  </div>
</ion-content>
