.slider {
  position: relative;

  .slide-content {
    max-width: 800px;
    width: 100%;
    height: calc(100vh - 56px);
    margin: auto;
    display: grid;
    grid-template-areas:
      "image"
      "info";
    gap: var(--spacing);
    place-items: center;
    align-content: center;

    img {
      grid-area: image;
      height: 400px;
      // object-fit: contain;
    }
    .content {
      grid-area: info;
      h2 {
        margin-bottom: 12px;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 660px) {
  .slider {
    .slide-content {
      padding: var(--spacing-2);
      margin: auto;
      grid-template-areas:
        "image"
        "info";

      height: calc(100vh - 44px);
      align-content: center;

      img {
        width: 100%;
      }
    }
  }
}
