// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --spacing: 1rem;
  --bg-p: #1e1e1e;
  --bg-s: #8a2be2;
  --bg-l: #ffffff;
  --bg-d: #121212;
}
