
.slider {
  position: relative;

  .slide-content {
    // height: calc(100vh - 56px);
    height: 100vh;
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: "image info";
    gap: var(--spacing);
    place-items: center;

    img {
      grid-area: image;
      width: 400px;
      max-height: 500px;
    }
    .info {
      max-width: 400px;
      grid-area: info;
      position: relative;
      bottom: 40px;
      h2 {
        margin-bottom: 12px;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 660px) {
  .slider {
    .slide-content {
      padding: 2rem;
      margin: auto;
      grid-template-areas:
        "image"
        "info";

      img {
        // height: 615px;
        object-fit: cover;
      }
    }
  }
}
