<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Intro</ion-title>
    
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <swiper-container
    class="slider"
    loop="true"
    slides-per-view="1"
    navigation="true"
  >
    @for (intro of intros; track $index) {
    <swiper-slide>
      <div class="slide-content">
        <img [src]="intro.image" [alt]="intro.name" />
        <div class="info">
          <h2>{{intro.name}}</h2>
          <p>{{intro.desc}}</p>
          @if ($index === intros.length - 1) {
          <ion-button (click)="goToHome()" class="ion-text-capitalize">
            Go To Home
            <ion-icon slot="end" name="home"></ion-icon>
          </ion-button>
          }
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</ion-content>
