.slider {
  // height: 100vh;

  .slide-content {
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: "image info";
    gap: var(--spacing);
    place-items: center;

    img {
      grid-area: image;
      height: 400px;
    }
    .content {
      grid-area: info;
      h2 {
        grid-area: title;
        margin-bottom: 12px;
      }

      p {
        grid-area: description;
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 660px) {
  .slider {
    .slide-content {
      padding: 2rem;
      margin: auto;
      grid-template-areas:
        "image"
        "info";

      img {
        // width: 95%;
        height: 615px;
      }
    }
  }
}
