<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goToIntro()">Intro</ion-button>
      <ion-button (click)="CambiarModo()" class="btn-mode" [color]="btnMode">
        <ion-icon slot="icon-only" [name]="modeIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Icon Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    class="slider"
    pagination="true"
    loop="true"
    slides-per-view="1"
    navigation="true"
    [ngClass]="mode"
  >
    @for (raza of perros; track $index) {
    <swiper-slide>
      <div class="slide-content">
        <img [src]="raza.image" [alt]="raza.title" />
        <div class="info">
          <h2>{{raza.title}}</h2>
          <p>{{raza.description}}</p>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
  <ion-card [style.background-color]="colorActual">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>
  <ion-button fill="outline" (click)="CambiarColor()">Cambiar Fondo</ion-button>

  <div class="demo-ionic-storage">
    <h3>Demo Ionic Storage</h3>
    <div [style.backgroud-color]="colorActual">
      <p>Tema actual: {{colorActual === colorP ? 'Oscuro':'Claro'}}</p>
    </div>
  </div>
  <div>
    <ion-button (click)="CambiarColor()">Cambiar tema y guardar</ion-button>
  </div>
</ion-content>
